@import "../variables.css";

#book-appointment-button {
  padding: var(--primary-button-padding);
  border-radius: var(--primary-input-border-radius);
  text-align: center;
  cursor: pointer;
  height: var(--primary-button-font-height);
  background-color: var(--primary-button-bg-color);
  border: 1px solid var(--primary-button-bg-color);
  font-weight: var(--primary-button-font-weight);
  color: #fff;
}

#book-appointment-button:hover:enabled {
  background-color: var(--primary-button-bg-color-hover);
}

#book-appointment-button:disabled {
  opacity: 0.65;
  cursor: default;
}

#name,
#email {
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #212529;
  border: 1px solid #dee2e6;
  margin: 0;
  appearance: none;
}

.AppointmentInput {
  font-size: 1rem;
  border-radius: var(--primary-input-border-radius);
  width: 100%;
  box-sizing: border-box;
}

.AppointmentInputContainer {
  margin-top: 8px;
}

.FormLabel {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
