@import "../variables.css";

.AppointmentTimeWrapper {
  display: block;
  margin: 8px 0;
}

.TimeLabel {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.AppointmentTimeWrapper .TimeButton:last-child {
  margin-right: 0;
}

.TimeButton {
  width: 140px;
  padding: var(--primary-button-padding);
  border-radius: var(--primary-input-border-radius);
  text-align: center;
  cursor: pointer;
  font-weight: var(--primary-button-font-weight);
  height: var(--primary-button-font-height);
  color: var(--secondary-button-bg-color);
  border: 1px solid var(--secondary-button-bg-color);
  margin-right: 4px;
  margin-top: 4px;
  background-color: transparent;
}

.Selected {
  background-color: var(--secondary-button-bg-color);
  color: #fff;
}

.TimeButton:hover,
:focus {
  border-width: 2px;
  border-color: var(--secondary-button-bg-color);
}
